<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="_2ndAsset.Ssis.Components.UI.Test.WindowsTool::HookUnhandledExceptionEvents" value="false" />
		<add key="_2ndAsset.Ssis.Components.UI.Test.WindowsTool::ShowSplashScreen" value="false" />
	</appSettings>
	<system.windows.forms jitDebugging="true" />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>